/build
scratch*
/Testing
*CMakeCache.txt
*CTestTestfile.cmake
*cmake_install.cmake
.DS_Store
*CMakeFiles
*Makefile
libanimated_algebra.a
/liven/libliven.a
main

# test executables
/tests/test_circle_node

/liven/tests/test_graphics
/liven/tests/test_image
/liven/tests/test_matrix
/liven/tests/test_scene
/liven/tests/test_grid_node
/liven/tests/test_renderer
/liven/tests/test_rect_node
/liven/tests/test_node
